@media screen and (min-width: 769px) {
    .page-post .column-left,
    .page-page .column-left {
        position: static !important;
        top: auto !important;
        align-self: auto !important;
    }
}